*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 25%;
}

.messages-box {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    /* align-items: flex-start; */
    min-height: 97vh;
    width: 100%;
    background-color: rgb(255, 245, 231);
    padding: 10px;
}

.send-msg-box {
    display: flex;
    column-gap: 7px;
    position: fixed;
    bottom: 20px;
    align-self: flex-end;
    width: 22%;
}

.msg-input {
    flex-grow: 1;
    font-size: 1em;
    border-radius: 5px;
    padding: 5px;
}

.msg-div {
    padding: 5px;
    margin:  3px 10px;
}

.out {
    align-self: flex-start;
    background-color: rgb(148, 255, 148);
    border-radius: 10px;
    padding: 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.in {
     align-self: flex-end;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}